table {
    text-align: center;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,th {
    text-align: center;
    border: 1px solid #dddddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}